/* styles.css */

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, select {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: inline;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.result-container {
    margin-top: 20px;
}

.result-container a {
    color: #007BFF;
    text-decoration: none;
}

.result-container a:hover {
    text-decoration: underline;
}
